$white: #FBF5F3;

$black: #000022;

$primary: #E28413;

$secondary: #DE3C4B;

$secondaryShad: #c42847;

//


$white: #F7FFF7;

$black: #545863;

$primary: #F96E46;

$secondary: #F9C846;

$secondaryShad: #00E8FC;